*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.container{
    background-color: azure;
    width: 90vmin;
    position: absolute;
    transform: (-50%,-50%);
    top: 30%;
    left:30%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38,33,61,0.2);
}
.searchbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.searchbox input{
    width: 70%;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}
.searchbox button{
    width: 25%;
    padding: 15px 0;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color:#ffffff;
    font-size: 16px;
    border-radius: 5px;
}
.answer{
    position: relative;
}
.answer h3{
    font-size: 30px;
    color:#1f194c;
}
.answer .word{
display: flex;
justify-content: space-between;
margin-top: 80px;
}
.answer button{
    background-color: transparent;
    color:#ae9cff;
    border: none;
    outline: none;
    font-size: 18px;

}
.answer .detail{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.meaning{
    color: #575a7b;
}
.example{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}